@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  background-color: #e2e2e2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  background-color: #555;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: .5em .75em;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 1em;
}

a:hover {
  background-color: #000;
}

.img-flex {
  display: block;
  width: 100%;
  text-align: center;
}

h2 {
  margin: 0;
  margin-left: .5em;
  font-size: 1rem;
}

h1 {
  margin-left: .5em;
}

p {
  margin-left: .5em;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .image {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    max-width: 25em;
  }

  .content {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    max-width: 25em;
  }

  .img-flex {
    margin-bottom: -1em;
  }

  h2 {
    margin-left: 1.5em;
  }

  p {
    margin-left: 1.5em;
  }

  a {
    margin-left: 1.5em;
  }

  h1 {
    text-align: left;
    margin-left: 1em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    text-align: left;
    margin-left: 1em;
    margin-top: .9em;
  }

  section {
    margin: auto;
  }

  h2 {
    margin-left: 1.5em;
  }

  p {
    margin-left: 1.5em;
    margin-top: .1em;
    margin-right: 1em;
  }

  a {
    margin-left: 1.5em;
    margin-top: 1em;
  }

  .image {
    margin-top: 1.5em;
  }

  .content {
    margin-top: 2.5em;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  section {
  margin-left: 10em;
}

}
